body {
  background-color: black;
  color: white;
}

.well.hand {
    background-color: green;
    border-width: 3px;
}

form#hit_form {
  float:left;
  margin-right: 10px;
}

form#stay_form {
  float:left;
}

img.card_image{
  margin: 0px 5px 5px 0px;
}
